/* barra de rolagem */
::-webkit-scrollbar {
    width: 12px; 
}

/* fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px; 
}

/* parte deslizante */
::-webkit-scrollbar-thumb {
    background-color: #FF8DB6;
    border-radius: 10px; 
    border: 3px solid #f5f5f5; 
}

/* parte deslizante ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background-color: #FE377F; 
}
