@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}


/* navbar 1 */

.navbar{
    background-color: #FF8DB6;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo1 img{
    width: 150px;
}

.menu-rosa ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menu-rosa ul li a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 25px;
}

.menu-rosa .divider{
    color: #f5f5f5;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-rosa ul li a:hover {
    color: #FE377F;
}

.menu-rosa ul li a{
    transition: color 0.5s ease-in-out;
}

.authbuttons{
    display: flex;
    align-items: center;
    align-self: center;
    gap: 20px;
}

.authbuttons a{
    text-decoration: none;
    color: #f5f5f5;
    font-size: 23px;
    font-weight: bold;
}


.authbuttons #login{
    background-color: #FE377F;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 130px;
}

/* footer */

footer{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid #d7d7d7;
}

.logo-footer{
  display: flex;
  align-items: center;
}

.logo-footer img{
  width: 100px;
  height: 50px;
}

.text-footer p{
  transition: color 0.5s ease-in-out;
}

.text-footer p:hover{
  color: #FE377F;
}

