@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    cursor: url(../assets/cursor/normsl\ u\ \(1\).cur), auto;
}

@font-face {
    font-family: 'Holen vintage'; 
    src: url('../assets/fonts/Holen\ Vintage.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* fade in  */
@keyframes fade {
    from{
        opacity: 0;
        scale: 0.9;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.conexao, .sobremim{
    animation: fade ease both; 
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}

/* sobre mim */

.sobremim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/background-sobre.png);
    background-size: cover;
}

.sobremim h1 {
    color: #FE377F;
    text-align: center;
    font-size: 60px;
    font-family: "Holen vintage";
    margin-top: 2px;
}

.sobre-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.imagem-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imagem-sobre img:hover {
    scale: 1;
    rotate: 2deg;
}

.imagem-sobre img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: scale 0.5s, rotate 0.8s;
}

.text-sobre {
    background-color: #FFDAE7;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto p {
    font-size: 20px;
    text-align: center;
    margin: 2px 10px 5px 10px;
    color: #201b1b;
}

.texto span {
    color: #FE377F;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.links a {
    text-decoration: none;
    color: #FE377F;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: flex-start;
    cursor: url(../assets/cursor/link\ 1000\ \(1\).cur), auto;
}

.links i {
    padding-right: 10px;
}

/* conexao */
.conexao {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/background-sobre2\ \(2\).png");
    background-size: cover;
}

.conexao h1 {
    color: #FE377F;
    text-align: center;
    font-size: 60px;
    font-family: "Holen vintage";
    margin-top: 0;
}

.conexao-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-slider {
    width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.lista-imagens {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s ease;
}

.imagem {
    width: 800px;
    height: 400px;
    flex-shrink: 0;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #FE377F;
    font-size: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}

.botao-anterior {
    left: 10px;
}

.botao-proximo {
    right: 10px;
}

.pontos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.ponto {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFDAE7;
}

.ponto.ativo {
    background-color: #FE377F;
}

.text-conexao {
    width: 70%;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.text-conexao p {
    font-size: 18px;
    text-align: center;
    margin: 10px;
    color: #201b1b;
}