@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    cursor: url(../assets/cursor/normsl\ u\ \(1\).cur), auto;
}

@font-face {
    font-family: 'Holen vintage'; 
    src: url('../assets/fonts/Holen\ Vintage.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

/* fade in  */
@keyframes fade {
    from{
        opacity: 0;
        scale: 0.9;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.conexao, .sobremim{
    animation: fade ease both; 
    animation-timeline: view();  
    animation-range: entry 0% cover 40%;
}

/* sobre mim */

.sobremim {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/background-sobre.png);
    background-size: cover;
}

.sobremim h1 {
    color: #FE377F;
    text-align: center;
    font-size: 60px;
    font-family: "Holen vintage";
    margin-top: 2px;
}

.sobre-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.imagem-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.imagem-sobre img:hover {
    scale: 1;
    rotate: 2deg;
}

.imagem-sobre img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: scale 0.5s, rotate 0.8s;
}

.text-sobre {
    background-color: #FFDAE7;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto p {
    font-size: 20px;
    text-align: center;
    margin: 2px 10px 5px 10px;
    color: #201b1b;
}

.texto span {
    color: #FE377F;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
}

.links a {
    text-decoration: none;
    color: #FE377F;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: flex-start;
    cursor: url(../assets/cursor/link\ 1000\ \(1\).cur), auto;
}

.links i {
    padding-right: 10px;
}

/* conexao */

.conexao {
    height: 110vh;
    display: flex;
    flex-direction: column;
}

.conexao h1 {
    color: #FE377F;
    text-align: center;
    font-size: 60px;
    font-family: "Holen vintage";
    margin-top: 0;
}

.slider-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    width: 60%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img{
    width: 100vw;
    height: 50vh;
    background-size: fit;
}

.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #FF8DB6;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

.text-conexao {
    width: 30%;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.text-conexao p {
    color: #201b1b;
    margin: 10px;
    text-align: justify;
}