body{
    background-image: url('../assets/images/gif-background.gif');
    background-size: cover;
}

.dash-wrapper h1 {
    color: #FF8DB6;
    font-size: 45px;
    text-align: center;
    font-family: "Holen vintage";
    font-weight: bolder;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.container-dash {
    display: flex;
    justify-content: space-evenly;
}

.dash {
    background-color: #FF8DB6;
    width: 70%;
    height: 65vh;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.ilustracao {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ilustracao img {
    height: 65vh;
}

.indicadores{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indicador{
    background-color: #FF8DB6;
    border-radius: 20px;
    width: 30%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indicador p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

.indicador #titulo{
    color: #FE377F;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}